<div class="row">
	<div class="col-md-8">
		<%= form_for([:admin, @post], html: { class: "form-horizontal" }) do |f| %>

		  <%= render 'error_messages' %>

		  <div class="form_group">
		  	<div class="col-md-7">
		  		<%= f.text_field :title, class: "form-control" %>
		  	</div>
		  </div>

		  <div class="form_group">
		  	<div class="col-md-9">
		  		<%= f.text_area :content, class: "form-control" %>
		  	</div>
		  </div>

		  <div class="form_group">
		  	<div class="col-md-7">
		  		<%= f.submit submit_text, class: "btn btn-primary" %>
		  	</div>
		  </div>

		<% end %>
	</div>
</div>
