<%= form_for(@player) do |f| %>

	<%= render 'error_messages' %>

	<p>
		<b>Name:</b>
		<%= f.text_field :name %>
	</p>

	<p>
		<b>Number:</b>
		<%= f.text_field :number %>
	</p>

	<p>
		<b>Class:</b>
		<%= f.select(:classyear , ['Freshman', 'Sophomore', 'Junior', 'Senior']) %>
	</p>

	<p>
		<b>Height:</b>
		<%= f.text_field :height %>
	</p>

	<p>
		<b>Hometown:</b>
		<%= f.text_field :hometown %>
	</p>

	<p>
		<%= f.submit %>
	</p>	 

<% end %>