<br />
<br />
<br />

<div class="row">
  <% @players.each do |player| %>
    <div class="player-cell">
      <div class="player-thumbnail"></div>
      <p><%= link_to player.name_with_nickname, player %></p>
      <p>#<%= player.number %></p>
      <p><%= player.classyear %></p>
      <% if admin_logged_in? %>
        <p>
          <%= link_to 'Edit', edit_player_path(player.id) %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Delete', player, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
 
<br />

<% if admin_logged_in? %>
  <%= link_to 'New', new_player_path %>
<% end %>