<% provide(:title, "Player List") %>

<h1>Player List</h1>

<div class="row">
  <% @players.each do |player| %>
      <a class="player-link" href="<%= player_path(player.id) %>">
        <div class="span3 player-cell">
          <h5 class="player-heading">
            <%= player.name %>
          </h5>
          <ul class="player-info">
            <li>Class: <%= player.class_year %></li>
            <li>Number: <%= player.number %></li>
            <li>Height: <%= player.height %></li>
            <li>Hometown: <%= player.hometown %></li>
          </ul>
        </div>
      </a>
  <% end %>
</div>