<h1>Player Info</h1>

<h3><%= @player.name %></h3>
<h4>Number: <%= @player.number %></h4>
<h4>Year: <%= @player.classyear %></h4>
<h4>Height: <%= @player.height %></h4>
<h4>Hometown: <%= @player.hometown %></h4>