<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "Dasein Ultimate", root_url, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <% if admin_logged_in? %>
            <li><%= link_to 'Roster', admin_players_path %></li>
            <li><%= link_to 'Log Out', admin_logout_path, method: 'delete' %></li>
        <% else %>
            <li><%= link_to 'Roster', players_path %></li>
            <li><%= link_to 'Admin Login', admin_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>